@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
<div class="alert alert-warning" role="alert">
    <h4 class="text-black">An unexpected error occurred while processing your request.  The developers have been notified.</h4>
    <h4 class="text-black">We're sorry for this, please click <a class="link-info" asp-area="" asp-page="/Index">here</a> to return to the home page where you can try again.</h4>

</div>
<hr/>
